@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACME Sample Application</h1>
    <p class="lead">A simple application to perform simple CRUD functionality on Person and Employee tables.</p>
</div>